---
layout: default
title: Projects
---

<div class="projects-list">
<div class="content-layout-spacer"></div>
{% for post in site.categories.project %}

{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
{% if year != nyear%}
{% unless forloop.first %}
</div></div>
{% endunless %}
{% endif %}
{% if year != nyear or forloop.first %}
<div class="bundle">
    <h2 class="year">{{ post.date | date: '%Y' }}</h2>
    <div class="posts">
{% endif %}

<article class="article">
  <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
      <div class="title">{{ post.title }}</div>
  </a>
</article>

{% if forloop.last %}
</div></div>
{% endif %}

{% endfor %}
</div>