/* =========== 
 * COLORS
 * =========== */

$blue: #226666;
$blue-light: #2D6F6F;
$blue-lightest: #397979;
$blue-dark: #185D5D;
$blue-darkest: #105353;

$red: #AA3939;
$red-light: #BA4B4B;
$red-lightest: #CA6060;
$red-dark: #9A2828;
$red-darkest: #8A1B1B;

$yellow: #AA8439;
$yellow-light: #BA954B;
$yellow-lightest: #CAA660;
$yellow-dark: #9A7428;
$yellow-darkest: #8A651B;

$grey-lightest: #efefef;
$grey-light: #aaaaaa;
$grey-dark: #888888;
$grey-darker: #666666;
$grey-darkerer: #555555;
$grey-darkest: #444444;

$font-highlight: 'Lato';
$font-regular: Helvetica;


/* ===============
 * RESET
 * =============== */
* {
  margin: 0;
  padding: 0;
}

a:link, a:active, a:hover, a:visited {
  color: $grey-light;
  text-decoration: none;
}



/* ===============
 * NAV 
 * =============== */

.splash {
  width: 100% !important;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 38.2%;
  background-color: $grey-lightest;
  display: table;

  div {
    display: table-cell;
    vertical-align: middle;
    width: 100%;

    img {
      border-radius: 100px;
      display: block;
      margin: auto;
      margin-bottom: 15px;
    }

    h1 { 
      color: black;
      font-family: $font-highlight;
      font-size: 40px;
      text-align: center;
      margin-bottom: 10px;

      span.connor {
        color: $grey-dark;
        font-weight: 500;
      }
    }

    div {
      text-align: center;
      display: block;

      ul {
        padding: 0;
        margin: 0;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        font-family: $font-highlight;
        color: $grey-light;

        li {
          display: inline-block;
          margin-right: 15px;

          a {
            transition: all 1s;

            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }
}



/* =================
 * BODY
 * ================= */

body {
  background-color: $grey-darkest;
}



/* ==================
 * CONTENT
 * ================== */
div.content {
  width: 61.8%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: table;
}



/* ==================
 * PROJECTS LIST
 * ================== */
div.projects-list {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: $font-highlight;

  .bundle {
    position: relative;
    margin-bottom: 50px;

    .year {
      position: absolute;
      text-align: right;
      right: 20px;
      font-size: 80px;
      color: $grey-darker;
      pointer-events: none;
    }

    .posts {
      margin-top: 20px;

      .article {
        transition: all 0.5s ease;
        padding-top: 10px;
        padding-bottom: 10px;

        .blurb {
          font-family: $font-regular;
          font-size: 14px;
          color: $grey-lightest;
          max-height: 0;
          overflow: hidden;
          padding-left: 45px;
          -webkit-transition: max-height 1s ease;
        }

        .title {
          font-size: 30px;
          padding-left: 40px;
        }

        &:hover {
          background-color: $grey-darkerer;

          .blurb {
            max-height: 200px;
          }
        }
      }
    }
  }
}