/* =========== 
 * COLORS
 * =========== */

$blue: #226666;
$blue-light: #2D6F6F;
$blue-lightest: #397979;
$blue-dark: #185D5D;
$blue-darkest: #105353;

$red: #AA3939;
$red-light: #BA4B4B;
$red-lightest: #CA6060;
$red-dark: #9A2828;
$red-darkest: #8A1B1B;

$yellow: #AA8439;
$yellow-light: #BA954B;
$yellow-lightest: #CAA660;
$yellow-dark: #9A7428;
$yellow-darkest: #8A651B;

$grey-lightest: #efefef;
$grey-light: #aaaaaa;
$grey-dark: #888888;
$grey-darkest: #444444;

$font-highlight: 'Lato';


/* ===============
 * RESET
 * =============== */
* {
  margin: 0;
  padding: 0;
}

a:link, a:active, a:hover, a:visited {
  color: $grey-light;
  text-decoration: none;
}



/* ===============
 * NAV 
 * =============== */

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 38.2%;
  background-color: $grey-lightest;
  display: table;

  div {
    display: table-cell;
    vertical-align: middle;
    width: 100%;

    img {
      border-radius: 100px;
      display: block;
      margin: auto;
      margin-bottom: 15px;
    }

    h1 { 
      color: black;
      font-family: $font-highlight;
      font-size: 40px;
      text-align: center;
      margin-bottom: 10px;

      span.connor {
        color: $grey-dark;
        font-weight: 500;
      }
    }

    div {
      text-align: center;
      display: block;

      ul {
        padding: 0;
        margin: 0;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        font-family: $font-highlight;
        color: $grey-light;

        li {
          display: inline-block;
          margin-right: 15px;

          a {
            transition: all 1s;

            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }
}



/* =================
 * BODY
 * ================= */

body {
  background-color: $grey-darkest;
}