---
layout: default
title: Projects
---

<canvas id="SkillChart" width="400" height="400"></canvas>

<script src="/public/js/Chart.js"></script>
<script>

  var tags = [];
  var skills = {};
  {% for post in site.categories.project %}
    {% for tag in post.tags %}
      tags.push('{{tag}}');
    {% endfor %}
  {% endfor %}

  for (var i = 0; i < tags.length; i += 1) {
    if (!skills[tags[i]]) {
      skills[tags[i]] = 0;
    }
    skills[tags[i]] += 1;
  }

  var labels = [];
  var dataPoints = [];

  for (var key in skills) {
    if (skills.hasOwnProperty(key)) {
      labels.push(key);
      dataPoints.push(skills[key]);
    }
  }

  var context = document.getElementById('SkillChart').getContext('2d');
  var chart = new Chart(context);
  var data = {
      labels: labels,
      datasets: [
          {
              label: "My First dataset",
              fillColor: "rgba(220,220,220,0.5)",
              strokeColor: "rgba(220,220,220,0.8)",
              highlightFill: "rgba(220,220,220,0.75)",
              highlightStroke: "rgba(220,220,220,1)",
              data: dataPoints
          }
      ]
  };
  chart.Bar(data);
</script>