<!DOCTYPE html>
<html>

  <!--
  A package under a terminal bench. 
  A short fuse to scatter steady hands if I forget to remember 
  that better lives have been lived in the margins, 
  locked in the prisons 
  and lost on the gallows 
  than have ever been enshrined in palaces.

  I've forgotten.
  -->

  <head> 
    {% include head.html %}
  </head>

  <body>
    <div class="navbar not-splash">
      {% include navigation.html %}
    </div>
    <div class="content">
      {{content}}
    </div>
  </body>
</html>
